<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to relative URL templates</h1>

    <p><a href="{%url 'basic_app:other'%}">Other page</a></p> <!-- basic_app was created in basic_app.urls.py app_name = "basic_app" its TEMPLATE TAGGING -->
    <p><a href="{%url "admin:index"%}">Admin</a></p> <!-- link to admin page -->
    <p><a href="{%url "index"%}">Index</a></p> <!-- link to admin page -->


  </body>
</html>
